<!DOCTYPE html>
<html lang="en">
<head>
  {{>HeaderLinks}}

<link rel="stylesheet" href="css/style.css">
<link rel="short icon" href="images/logo.png">
</head>
<body>

    <!-- navbar -->
    {{>Navbar}}

    <!-- Text and Carasoul -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 inner mx-auto">
                <div class="col-md-6 col-12 side-right-about">
                    <img src="images/singel.jpg" alt="pic">
                </div>
                <div class="col-md-6 col-12 side-left">
                    <h4>Welcome to Malik Technical World</h4>
                    <h1>I am a <span>Mern Stack Developer,</span> Youtuber and a Freelancer</h1>
                </div>
            </div>
        </div>

    </div>

    <!-- footer -->
    <footer >
        created with ❤ by Malik Saad 
    </footer>

</body>
</html>